#background {
    background-color: white;
}
#wrapper {
    width: 960px;
}
#footer {
    text-align: center;
    height: 100px;
    background-color: black;
    margin-left: 720px;
    margin-right: 703px; }
#sidebar {
    opacity: 0.8%;
}
#h1 #h2 {
    position: relative;
    top:115px;
}
#container {
    position: relative;
    background-color: black;
}
.font {
    font-family: "Century Gothic", sans-serif;
}
.center {
    margin: auto;
}
.floatLeft {
    float: left;
}
.whiteText {
    color: white;
}
.clear {
    padding: 0px;
    margin: 0px;
}
.clearFix {
    clear: both;
}
.height {
    height: 130px;
}
.heightContent {
    height: 554px;
}
.halfPage {
    width: 480px;
}
.rightAlignText {
    text-align: right;
}
.paddingHalfLR {
    width: 418px;
    padding-left: 31px;
    padding-right: 31px;
}
.paddingHalfTB {
    width: 418px;
    padding-top: 31px;
    padding-bottom: 31px;
}
.paddingLeft {
    padding-left: 720px;
}
.background {
    background-color: black;
}
.image {
    background-image: url("/docs/images/4x4-adventure-automobile-1571783.jpg");
}
.rightMargin {
    margin-right: 31px;
}
.sidebarTop {
    top: 200px;
}
.overlayHalf {
    left: 720px;
    padding-top: 310px;
}
.blackCenterBox {
    margin-right: 1903px;
    display: block;
    opacity: .8;
}
.footerText {
    padding-top: 50px;
}
